<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Image:</strong>
<%= image_tag rails_storage_proxy_path(product.image) %>
  </p>


  <p>
    <strong>created at:</strong>
    <%= product.created_at %>
  </p>

  <p>
    <strong>updated at:</strong>
    <%= product.created_at %>
  </p>


</div>
