<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Creator</th>

      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
  <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.description %></td>
      <td><%= link_to User.find(product.user_id).name , User.find(product.user_id) %></td>
       <> <%= link_to "Show this product", product %></ td>
    </p>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
