<p style="color: green"><%= notice %></p>

<%= render @product %>
<%= link_to "Admin", User.find(@product.user_id)) %>

<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, form: { data: { turbo_confirm: "Are you sure?" } },  method: :delete %>
</div>
